.DS_Store
results
.*.swp
.nfs*

src/data/aclImdb
!src/data/aclImdb/.gitkeep

src/data/pickled
!src/data/.gitkeep

src/data/word2vec_models
!src/data/word2vec_models/.gitkeep

src/data/checkpoint
!src/data/checkpoint/.gitkeep

src/data/logs
!src/data/logs/.gitkeep
